@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;


header {
    position: sticky;
    height: 60px;
    top: 0;
    z-index: 1000;
    padding: 10px;
    padding-right: 15px;
    .link_home_container{
        padding-left: 20px;
        text-decoration: none;
        color: $primary_text_color;
        font-size: 1.4em;
        :nth-child(2){
            display: none;
        }

        &:hover >:first-child{
            display: none;
        }

        &:hover >:nth-child(2){
            display: block;
        }
    }

    .header_container{
        .logo_container{
            padding-left: 5px;
            padding-top: 5px;
            img{
                height: 100%;
            }
        }
        .name_container{
            display: flex;
            align-items: center;
            img{
                height: 30%;
            }
        }    
    }

    nav {
        
       
        .dropdown_button{
            background-color: white;
            border: none;
            color: $secondary_text_color;
            font-size: 1.4em;
            border: 1px solid lightgrey;
            border-radius: 10px;
            padding: 0px 15px;
        }
        .dropdown-item{
            &:hover{
                span{
                    color: $secondary_background_color;
                }
            }
        }

    }
   
   
}
