@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

//import bootstrapp

@import "bootstrap/scss/bootstrap";

body {
    background-color: #FAFAFA;
}

main{
    height: calc(100vh - 90px);
    overflow: auto;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
/*RESET*/





